  <ul>
    <%= image_tag product.photo, width: 200 if product.photo.attached? %>
    <li><%= product.title %></li>
    <li><%= product.description %></li>
    <li><%= product.price %>$</li>
    <% if show_options %>
      <li><%= link_to 'editar', edit_product_path(product) %></li>
      <li>
        <%= link_to 'eliminar', product_path(product), data: {
          turbo_method: :delete,
          turbo_confirm: "¿Estás seguro que quieres eliminar este producto?"
        } %>
      </li>
      <li><%= link_to 'regresar', products_path %></li>
    <% else %>
      <li><%= link_to 'ver', product_path(product) %></li>
    <% end %>
  </ul>