  <ul>
    <%= image_tag product.photo, width: 200 if product.photo.attached? %>
    <li><%= product.title %></li>
    <li><%= product.description %></li>
    <li><%= product.price %>$</li>
    <% if show_options %>
      <li><%= link_to t('common.edit'), edit_product_path(product) %></li>
      <li>
        <%= link_to t('common.delete'), product_path(product), data: {
          turbo_method: :delete,
          turbo_confirm: t('common.delete_confirmation', element: product.title)
        } %>
      </li>
      <li><%= link_to t('common.back'), products_path %></li>
    <% else %>
      <li><%= link_to t('common.open'), product_path(product) %></li>
    <% end %>
  </ul>